html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

footer {
  padding-left: 20px;
  z-index: 1;
}

nav {
  padding-left: 0px;
}

nav ul {
  width: 100%;
}

nav ul>li {
  width: 100%;
}

nav li a {
  height: 64px;
}

nav li a>i {
  float: left;
  padding-right: 15px;
}

nav h1 {
  margin: 0 0 0 0;
  font-size: 2rem;
  width: 100%;
  user-select: None;
}

.card .card-image img {
  height: 5rem;
}

.card .card-image .card-title {
  color: #000;
  font-weight: bold;
}
